
body {
	background-color: #F7F5E6;
	font-family: 'Poiret One', cursive;
}

.jumbotron {
	background-color: #F7F5E6;
	color: #333A56;
	font-family: 'Poiret One', cursive;
}

.panel-heading {
	background-color: #F7F5E6;
	color: #333A56;
}

